#forecast {
	margin-top: 2rem;

	#location {
		font-size: 1.2em;
		text-transform: uppercase;
	}

	#country {
		background-color: $gray-300;
		color: $gray-900;
		padding: 0.25rem 0.5rem;
	}

	.temp {
		font-size: 2em;
	}

	.wind {
		font-size: 1.5em;
	}

	ul.conditions {
		display: flex;
		list-style: none;
		justify-content: center;
		margin-bottom: 1.5rem;
		padding: 0;

		li {
			flex: 0;
		}
	}
}

.weather-clear {
	background: linear-gradient(to bottom, #fefcea, #f1da36); // soligt
	border-radius: 1rem;
	padding: 1rem;
}

.weather-clouds {
	background: linear-gradient(to bottom, #d7d2cc, #304352);
	border-radius: 1rem;
	padding: 1rem;
	color: white;
}

.weather-rain {
	background: linear-gradient(to bottom, #4e54c8, #8f94fb); 
	border-radius: 1rem;
	padding: 1rem;
	color: white;
}

.weather-snow {
	background: linear-gradient(to bottom, #e6f0f3, #ffffff); 
	border-radius: 1rem;
	padding: 1rem;
}

.weather-thunderstorm {
	background: linear-gradient(to bottom, #373b44, #4286f4); 
	border-radius: 1rem;
	padding: 1rem;
	color: white;
}
